{{!-- {{about section}} --}}
<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About us</h1>
            <P class="text-center sub-heading">grow your buisness with us</P>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/3.jpg" class="img-fluid" alt="Loading...">
                    </figure>
                </div>
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE THE PROFESSIONAL DEVELOPER✌ </h1>
                        <p>We Are The<span class="bold-style"> Developers✌</span> <span id="dots">...</span><span id="more">
                            , your number one Source For All Things. We're Dedicated To Giving
                            You The Very Best Of Work, With A Focus On [Three Characteristics, Ie: Dependibility,
                            Customer Service And Uniqueness!]</span><button class="btn btn-outline-danger btn-lg" onclick="myFunction()" id="myBtn">Read more</button> </p>

                    
                </div>


            </div>
        </div>

    </div>
</div>