<!-- Footer -->
<footer class="page-footer font-small p-3 mb-2 bg-light text-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="/"> Astrophile.com</a>

  </div>
  
  <!-- Copyright -->

</footer>
<!-- Footer -->