<section id="mapsid" class="d-flex justify-content-center">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.908390913326!2d81.34819111416124!3d21.235480986066637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a2922b732d7334f%3A0xa972b5e2fbc1e309!2sKurud%20Rd%2C%20Kurud%2C%20Bhilai%2C%20Chhattisgarh!5e0!3m2!1sen!2sin!4v1659246701913!5m2!1sen!2sin"
        width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>